/*----------------------------------------------------
Main display
-----------------------------------------------------*/
html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    text-align: center;
    margin-top: 20px;
}

#logo {
    width: 316px;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

footer {
    margin-top: auto;
    text-align: center;
    background-color: white;
    padding: 20px;
    color: black;
}

/*----------------------------------------------------
Nav bar
-----------------------------------------------------*/
nav {
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 5px 4px;
    font-size: 15px;
    text-align: left;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}

nav li,
nav button {
    font-weight: bold;
    color: rgb(0, 0, 0);
}

nav ul li a:link {
    text-decoration: none;
    color: black;
}

nav ul li a:hover,
nav ul li button:hover {
    color: rgb(241, 108, 108);
}

.navBarItem {
    color: black;
}

.navButton {
    border: none;
    background-color: white;
}

.customLink {
    color: rgb(241, 108, 108);
}

.customLink:hover {
    color: rgb(198, 3, 3);
    text-decoration: underline;
}

/*----------------------------------------------------
Typography
-----------------------------------------------------*/
a.active:link,
a.active:visited,
a.active:active,
a.active:hover,
a {
    color: #000000;
}

p {
    line-height: 1.5;
}

h1 {
    text-align: center;
    font-size: 3.0rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.0rem;
}

/*----------------------------------------------------
Forms
-----------------------------------------------------*/
.mainFormSection {
    margin-top: 25px;
    transition: all 1.0s;
    margin: auto;
    width: 60%;
}

.dailyWorkoutFormDiv {
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
    border: none;
    margin: 35px;
    padding: 50px;
}

.XButton {
    border: none;
    background-color: black;
    color: white;
    border-radius: 13px;
    width: 26px;
    height: 26px;
    display: block;
    margin-left: auto;
    margin-right: 0;
    margin-top: -10px;
    margin-bottom: 10px;
}

.formButton,
.formButtonTwo {
    background: rgb(0, 0, 0);
    padding: 10px 15px 10px 15px;
    margin-top: 40px;
    margin-bottom: 10px;
    border: none;
    width: 100%;
    color: white;
}

.formButtonTwo {
    width: 50%;
}

.formButtonDiv {
    text-align: center;
}

input[type=text],
input[type=email],
input[type=password],
textarea,
select {
    display: block;
    width: 100%;
    font-size: 13px;
    padding: 6px;
    margin-top: 35px;
    border: none;
    border-bottom: 1px solid black;
    background-color: rgb(255, 255, 255);
    color: rgb(22, 22, 22);
}

input[type='checkbox'],
input[type='radio'] {
    display: inline;
}

input[type='checkbox']+label,
input[type='radio']+label {
    display: inline;
    font-weight: normal;
}

.formLabel {
    padding-top: 10px;
    font-size: 13px;
}

/*----------------------------------------------------
Form Results
-----------------------------------------------------*/
.results {
    width: 60%;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
    margin-top: 25px;
}

.indentedText {
    padding-left: 15px;
    font-size: 13px;
}

.indentedTextTwo {
    padding-left: 40px;
    font-size: 11px;
}

.resultButton {
    width: 90%;
    background-color: black;
    border: none;
    color: white;
    padding: 10px;
}

/*----------------------------------------------------
Table
-----------------------------------------------------*/
.workoutsTable {
    margin: auto;
    width: 85%;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 10px;
}

.tableHeader {
    border-radius: 10px;
    background-color: rgb(226, 226, 226);
}

td {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.headerItem {
    padding: 15px;
}

.customTableRow:hover {
    background: rgba(241, 108, 108, 0.25);
    outline: none;
    cursor: pointer;
}

/*----------------------------------------------------
Other
-----------------------------------------------------*/
.customHR {
    background-color: rgb(73, 73, 73);
}

/*----------------------------------------------------
Login
-----------------------------------------------------*/
.loginBackground {
    background-color: white;
}

.loginDiv {
    border-radius: 10px;
    padding: 25px;
    color: rgb(0, 0, 0);
    width: 50%;
}

.header {
    text-align: center;
    padding: 10px;
    padding-bottom: 50px;
}

.subtext {
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
}

/*----------------------------------------------------
Button
-----------------------------------------------------*/
.customButton {
    height: 40px;
    padding: 10px 25px;
    border: 1px solid #000;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    background: #000;
    color: #fff;
    line-height: 42px;
    padding: 0;
    border: none;
}

.customButton:hover {
    background: transparent;
    color: #000;
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
}

.customButton:before,
.customButton:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #000;
    transition: 400ms ease all;
}

.customButton:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.customButton:hover:before,
.customButton:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

.backButton {
    margin-left: 50px;
    color: white;
    font-weight: bold;
    background-color: black;
    font-size: 30px;
    padding: 4px 10px 10px 10px;
    border-radius: 25px;
}

.backButton:hover {
    color: black;
    text-decoration: none;
    border: 1px solid black;
    background-color: white;
}